@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Topic>

<h2>Recent Topics</h2>

@if (Model.Any())
{
    @foreach (var topic in Model)
    {
        <div>
            <h3>@Html.DisplayFor(modelItem => topic.Title)</h3>
            <p>@Html.DisplayFor(modelItem => topic.Description)</p>
        </div>
    }
}
else
{
    <p>No topics found</p>
}

