@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Topic>

<h2>Tópicos Recentes</h2>

@foreach (var topic in Model)
{
    <div>
        <h3>@Html.DisplayFor(modelItem => topic.Title)</h3>
        <p>@Html.DisplayFor(modelItem => topic.Description)</p>
    </div>
}
